@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url('./assets/fonts/sofiapro-light.otf') format('opentype');
  font-display: fallback;
}

* {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  text-align: center;
}

.dark {
  background: linear-gradient(0deg, rgb(47, 0, 68) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
}

.cloudy {
  background: linear-gradient(0deg, rgb(101, 101, 101) 0%, rgb(80, 84, 122) 50%, rgb(172, 201, 255) 100%);
}

.dark input {
  background-color: #492060;
}

.light {
  background: linear-gradient(0deg, rgb(255, 241, 217) 0%, rgb(255, 228, 181) 50%, rgb(181, 204, 253) 100%);
}

.toggle {
  margin-left: auto;
}

main {
  min-height: 100vh;
}

.weather-box .temp {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 0;
  padding: 20px 20px 10px 20px;
  background-color: rgba(39, 39, 39, 0.572);
  border-radius: 30px;
  box-shadow: 3px 4px rgba(76, 76, 76, 0.412);
}

.weather {
	position: fixed;
  width: 100%;
}
