@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url('./fonts/sofiapro-light.otf') format('opentype');
}

* {
  font-family: 'Sofia Pro';
  text-align: center;
}

.dark {
  background: linear-gradient(0deg, rgb(47, 0, 68) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
}

.dark input {
  background-color: #492060;
}

.light {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(251, 242, 225) 50%, rgb(213, 227, 255) 100%);
}

.toggle {
  margin-left: auto;
}

main {
  min-height: 100vh;
}

.weather-box .temp {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 0;
  padding: 20px 20px 10px 20px;
  background-color: rgba(39, 39, 39, 0.572);
  border-radius: 30px;
  box-shadow: 3px 4px rgba(76, 76, 76, 0.412);
}

.weather {
	position: fixed;
  width: 100%;
}
