@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'), url('./fonts/sofiapro-light.otf') format('opentype');
}

* {
  font-family: 'Sofia Pro';
  text-align: center;
}

main {
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,248,212,1) 50%, rgba(198,242,255,1) 100%);
}

.lottie {
  display: flex;   
  justify-content: center; 
}

.weather-box .temp {
  display: inline-block;
  position: relative;
  margin: 30px 0 0 0;
  padding: 20px 20px 10px 20px;
  background-color: rgba(39, 39, 39, 0.572);
  border-radius: 30px;
  box-shadow: 3px 4px rgba(76, 76, 76, 0.412);
}
